@use '@angular/material' as mat;

// 1. Definizione palette colori base
$mindlink-primary: mat.define-palette(mat.$indigo-palette);
$mindlink-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$mindlink-warn: mat.define-palette(mat.$red-palette);

// 2. Definizione del tema
$mindlink-theme: mat.define-light-theme((
  color: (
    primary: $mindlink-primary,
    accent: $mindlink-accent,
    warn: $mindlink-warn,
  ),
));

// 3. Applica tema globale
@include mat.all-component-themes($mindlink-theme);

// 4. Stili personalizzati
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background: #fafafa;
}

.graph-container {
  width: 100%;
  height: 80vh;
}


.snackbar--success {
  background: #16a34a !important;
  color: #fff !important;
}

.snackbar--error {
  background: #dc2626 !important;
  color: #fff !important;
}

.snackbar--info {
  background: #2563eb !important;
  color: #fff !important;
}

.snackbar--warning {
  background: #d97706 !important;
  color: #fff !important;
}
